@import "../../assets/variables.scss";

.icons {
  display: flex;

  &:hover {
    cursor: pointer;
  }
}

.icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FFFFFF;
  margin: 0 10px;
  img {
    object-fit: contain;
    object-position: center;
  }
}

.iconAttention{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 10px;
  background: $border-attention;
  img {
    object-fit: contain;
    object-position: center;
  }
}