.icons {
  display: flex;
  .icon:first-of-type{
    margin-right: 20px;
  }

  &:hover {
    cursor: pointer;
  }
}

.icon{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FFFFFF;
  img {
    object-fit: contain;
    object-position: center;
  }
}
