@import "../../assets/variables.scss";

.home {
  @include margins;

  position: relative;
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  box-sizing: border-box;

  &::before {
    content: "";
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    display: block;
    background-image: url("../../img/background-sequins.png");
    background-size: contain;
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;

    @media screen and (max-width: 1024px) {

      width: 100%;
      height: 50%;
    }
  }
  &::after {
    content: "";
    position: fixed;
    z-index: 0;
    bottom: 0;
    right: 0;
    display: block;
    background-image: url("../../img/background-sequins-2.png");
    background-size: contain;
    width: 50%;
    height: 50%;
    background-repeat: no-repeat;

    @media screen and (max-width: 1024px) {
      position: absolute;
      width: 100%;
      height: 50%;
    }
  }
}

.home__back-img {
  position: absolute;


  &:nth-child(1){
    top: 109px;
    left: 81px;
  }

  &:nth-child(2){
    bottom: 108px;
    left: 40%;
  }

  &:nth-child(3){
    top: 111px;
    right: 157px;
  }

  &:nth-child(4){
    top: 39px;
    left: 320px;
  }

  &:nth-child(5){
    position: fixed;
    transform: rotate(-90deg);
    bottom: -60px;
    left: 320px;
  }

  &:nth-child(6){
    transform: rotate(-90deg);
    top: 129px;
    right: -95px;
    @media screen and (min-width:1441px){
      position: fixed;
    }
  }

}

.home__container {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  padding: 50px 0 100px;
  box-sizing: border-box;

  @media screen and (max-width: 1040px){
    align-items: center;
    padding: 50px 0;
  }
}

.home__img {
  position: absolute;
  bottom: 5%;
  right: -5%;
  width: 55%;
  height: auto;
  max-width: 693px;
  object-fit: contain;

  @media screen and (max-width: 1040px){
    position: static;
    width: 90%;
  }
}

.home__title-container {
  width: 100%;
}

.home__title-emoji {
  position: absolute;
  z-index: 2;
}

.home__title-emoji_sofa {
  bottom: 38%;
  right: 2%;
  @media screen and (max-width: 1200px) {
    bottom: 30%;
    right: 0%;
  }
  @media screen and (max-width: 1040px) {
    display: none;
  }
}

.home__title {
  @include fontDrukCy(96px,108%);
  @include adaptiveFont(96px, 26px, 70);

  position: relative;
  margin: 0;
  text-transform: uppercase;
  color: $text-color;

  &:nth-child(1){
    .home__title-emoji {
      top: -45px;
      left: 35%;
      @media screen and (max-width: 1040px) {
        display: none;
      }
    }
  }
  &:nth-child(2){
    .home__title-emoji {
      width: calc( 26px + ( 70 * (100vw/1440)*1.5));
      max-width: 123px;
      top: -20px;
      left: 10%;
      @media screen and (max-width: 1040px) {
        top: -210%;
        left: 40%;
      }
    }
  }

  &:nth-child(3){
    .home__title-emoji {
      &:first-of-type {
        top: -40px;
        left: -40px;
        @media screen and (max-width: 1040px) {
          display: none;
        }
      }
      &:last-of-type {
        width: calc( 26px + ( 70 * (100vw/1440)*1.5));
        max-width: 123px;
        top: 15px;
        left: 40%;
        @media screen and (max-width: 1040px) {

        }
      }
    }
  }

}

.home__title_reverse {
  text-align: end;
}

.home__title_attention {
  color: $text-color-attention;
}

.home__description {
  @include fontValueMontserrat(normal, 300, 22px, 136%);

  margin: 30px 0;
  width: 50%;
  max-width: 606.59px;
  color: $text-color;

  @media screen and (max-width: 1040px){
    width: 100%;
  }

  @media screen and (max-width: 600px){
    @include fontValueMontserrat(normal, 300, 16px, 22px);
  }
}

.home__description-attention {
  @include fontDrukCy(22px, 136%);

  @media screen and (max-width: 600px){
    @include fontDrukCy(22px, 22px);
  }
}

.home__button {
  @include fontDrukCy(18px, 20px);

  width: 100%;
  max-width: 400px;
  padding: 35px 54px;
  border: 3px solid $border-color;
  border-radius: 100px;
  box-sizing: border-box;
  background: none;

  text-align: center;
  text-transform: uppercase;
  color: $text-color;

  &:hover {
    cursor: pointer;
  }

  @media screen and (max-width: 1024px) {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 768px) {
    @include fontDrukCy(14px, 16px);
    padding: 23px 26px;
    max-width: 278px;
  }
}

.home__swipe-container {
  display: flex;
  align-items: center;
  margin: 0 auto 50px;

  @media screen and (max-width: 1040px) {
    display: none;
  }
}

.home__swipe-link {
  @include fontValueMontserrat(normal, bold, 24px, 29px);

  margin: 0 10px;
  text-transform: uppercase;
  color: $text-color;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

.home__swipe-space {
  @include fontValueMontserrat(normal, bold, 40px, 50px);

  position: relative;
  color: $text-color;
}