@import "../../assets/variables.scss";

.home {
  height: 100vh;
  display:flex;
  flex-direction: column;

  background: $background-color;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border: 1px solid blue;
  box-sizing: border-box;
}

.home__title {
  @include fontValueDrukCy(96px,112px);

text-transform: uppercase;

/* /Текст */

color: #1E1E1E;
}