@import "../../assets/variables.scss";

.header {
  @include margins;

  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 30px;
  width: 100%;

  box-sizing: border-box;

  @media screen and (max-width: 600px) {
    padding-top: 20px;
  }

}

.header__logo {
  @media screen and (max-width: 600px) {
    width: 83px;
    height: 26px;
  }
}

.header__logo_hyip {
  @media screen and (max-width: 600px) {
    width: 63px;
    height: 18px;
  }
}