// text
$text-color: #1E1E1E;
$text-color-attention: #CF78ED;
// border
$border-color: #1E1E1E;
// background
$background-color: #FFECF5;

@mixin margins {
  margin: 0 auto;
  max-width: 1440px;
  @media screen and (min-width: 1440px) {
    padding-right: 120px;
    padding-left: 120px;
  }

  @media screen and (max-width: 1440px) {
    padding-right: 80px;
    padding-left: 80px;
  }

  @media screen and (max-width: 1040px) {
    padding-right: 40px;
    padding-left: 40px;
  }

  @media screen and (max-width: 600px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}

@mixin fontValueMontserrat($style, $weight, $size, $height) {
  font-family: "Montserrat";
  font-weight: $weight;
  font-style: $style;
  font-size: $size;
  line-height: $height;
}

@mixin fontDrukCy( $size, $height) {
  font-family: "Druk Text Wide Cyr Heavy";
  font-size: $size;
  line-height: $height;
}

@mixin adaptiveFont( $maxFont, $minFont, $addSize) {
  font-size: calc( #{$minFont} + ( #{$addSize} * (100vw/1440)));
  @media screen and (max-width: 768px) {
    font-size: calc(#{$minFont} + ((#{$addSize} + #{$addSize}*0.7) * ((100vw - 320px)/1440)));
  }
  @media screen and (min-width: 1440px){
    font-size: #{$maxFont};
  }
}
